<div class="dash">
    <h2>{{dashboard.username}}</h2>

    <div id="intro">
        <h4>Uploaded Photos</h4>
    </div>

    <div id="dash-section">
        {{#each dashboard.images as |image| }}
        <div class="uploads">
            <h4>{{image.image_name}}</h4>
            <div class="dash-images">
                <a class="link" href="/images/{{image.id}}"><img class="hp-imgs" src="{{image.hosted_url}}"
                        alt="{{image.description}}"></a>
                <p>{{image.description}}</p>
            </div>

            {{/each}}
        </div>
    </div>
</div>