{{#each images as |image| }}
<div class="main">
    <div class="homepage">

        <div id="body">
            <div class="ind-img">
                <h4>{{image_name}}</h4>
                <div class="images">
                    <a href="/image/{{image.id}}"><img class="hp-imgs" src="/images/{{hosted_url}}" alt="{{description}}"></a>
                        <p>{{description}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
{{/each}}