{{!-- <div id="single-page">
    <h4>{{image.image_name}}</h4>

    <img class="page-imgs" src="/images/{{image.hosted_url}}" alt="{{image.description}}">

    <p>{{image.description}}</p>

    <button class="add-comment">Add Comment</button>

    <div>
        <h4>Comments</h4>
        <p>{{image.comment.commentary}}</p>
    </div>
</div> --}}


<div class="container">
    <div class="row">
        <div class="col-2" id="left"></div>

        <div class="col-8" id="blog">
            <div id="top">
                <h2>
                    {{image.image_name}}
                </h2>
                <img class="page-imgs" src="/images/{{image.hosted_url}}" alt="{{image.description}}">
            </div>
            <div id="bottom">
                <p>{{image.description}}</p>
            </div>

            <div class="new-comment-form">
                <div class="input-group mb-3" id="comment-form">
                    <input type="text" class="form-control" placeholder="Add a comment..."
                        aria-label="new-comment" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2 add-comment-btn">Submit</button>
                </div>
            </div>
            <div class="comment-section">
                <h4>Comments</h4>
                <div class="comments">
                    {{#each image.comments as |comment| }}
                    <p>{{comment.commentary}}</p>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
    <div class="col-2" id="right"></div>

</div>

<script src="./js/addcomment.js"></script>