<div class="container">
    <div class="row">
        <div class="col-2" id="left"></div>

        <div class="col-8" id="blog">
            <div id="top">
                <h2>
                    {{image.image_name}}
                </h2>
                <img class="page-imgs" src="/images/{{image.hosted_url}}" alt="{{image.description}}">
            </div>
            <div id="bottom">
                <p>{{image.description}}</p>
            </div>

                <form class="card-body comment-form" id="comment-form">
                    <div class="form-row">
                        <label class="form-label">Comment</label>
                        <input id="comment" name="comment-text" class="form-input  form-control" />
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
        </div>


        <div class="comment-section">
            <h4>Comments</h4>
            <div class="comments">
                {{#each image.comments as |comment| }}
                <p>{{comment.commentary}}</p>
                {{/each}}
            </div>
        </div>

    </div>
</div>
<div class="col-2" id="right"></div>

</div>

<script src="./js/addcomment.js"></script>