{{!-- <div class="container">
    <div class="row">
        <div class="col-2" id="left"></div> --}}
        <div class="single-page">
            {{!-- <div class="col-8" id="blog"> --}}
                <div id="top">
                    <h2>
                        {{image.image_name}}
                    </h2>
                    <img class="page-imgs" src="{{image.hosted_url}}" alt="{{image.description}}">
                    <p>{{image.description}}</p>
                     <input type="hidden" id="imgid" name="imgid" value="{{image.id}}">
                </div>

                <form class="card-body comment-form" >
                    <div class="form-row">
                        <label class="form-label">Comment</label>
                        <input id="comment" name="comment-text" class="form-input form-control">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>


            <div class="comment-section">
                <h4>Comments</h4>
                <div class="comments">
                    {{#each image.comments as |comment| }}
                    <p>{{comment.commentary}}</p>
                    {{/each}}
                </div>
            </div>

        </div>
    {{!-- </div>
</div> --}}


<script src="/public/js/addcomment.js"></script>